

.bandName {
    height: 18vh;
}

@media (max-width: 700px) {
    .bandName {
        height: 16vh;
    }
}

@media (max-width: 600px) {
    .bandName {
        height: 14vh;
    }
}

@media (max-width: 500px) {
    .bandName {
        height: 12vh;
    }
}