
.box-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-input {
    display: flex;
    width: 32rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media (max-width: 800px) {
    .contact-input {
        width: 25rem;
    }
}

@media (max-width: 490px) {
    .contact-input {
        width: 22rem;
    }
}

@media (max-width: 425px) {
    .contact-input {
        width: 18.5rem;
    }
}