

.avatars-container {
    display: flex;
    /* margin-bottom: 2000px; */
    column-gap: 4rem;
    flex-wrap: wrap;
    row-gap: 5rem;
    justify-content: center;
    align-items: center;
}

/* .band-member-item { */
    /* width: 25%; */
    /* width: 200; */
    /* justify-content: center;
    align-items: center; */
/* } */

@media (max-width: 700px) {
    .avatars-container {
        column-gap: 2rem;
    }

    .band-member-item {
      width: 40%;
    }
  }